<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <form action="/DeleverySign" method="POST">
        UserName:<br>
       <input type="text" name="Name" value="" class="col-xs-12" required id="usname">
       <br>
       password:<br>
       <input type="password" name="password" value="" required>
       <br>
       Email:<br>
       <input type="text" name="Email" value="" required>
       <br>
   
       Phone number:<br>
          <input type="tel" name="Phone" value="" required>
       <br>
       City: <br> 
   
       kfr qara<input type="radio" name="city" value="kfr_qara" checked>
       Ara<input type="radio" name="city" value="Ara" >
       Arara<input type="radio" name="city" value="Arara"  >
       Aum alfahem<input type="radio" name="city" value="Aum-Alfahem"  >
     
   
       <br>

       Cost: <br>
       <input type="number" name="Cost" min="10" max="30" required>
       
       
       <br>

        <input type="submit" value="sign" id="submit">



         </form>
</body>
</html>